html {
    font-size: 62.5%;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

body {
    // background: var(--body-background);
    // background: "logo.png";
    background-image: url("/Blog/images/background/kevin-laminto-7PqRZK6rbaE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: var(--base-font-family);
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

/* scrollbar styles for Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar-thumb) transparent;
}

/**/

/* scrollbar styles for Chromium */
::-webkit-scrollbar {
    height: auto;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/**/


/* custome menu item */
.menu-custom {
    position: relative;
    height: 100%;
    // width: 5em;
    // left: 5px;
    font-size: 1.7em;
    color: transparent;
    opacity: 1;
    -webkit-text-stroke: 0.02em var(--color); 
    // color: rgba(79, 220, 255, 0.849)
    // color: rgba(204, 245, 255, 0.932);
}

.menu-custom:before {
    content: attr(data-text);
    position: absolute;
    width: 0%;
    height: 100%;
    color: rgba(204, 245, 255, 0.932);
    // border-right: 1px solid var(--color);
    padding-left: 10px;
    // padding-left: 50px;
    padding-left: 10px; /* 新增 */
    left: -10px; /* 修改 */
    // left: -10px;
    text-shadow: 0 0 0.1em var(--color);
    color: var(--color);
    overflow: hidden;
    -webkit-text-stroke: 0.005em var(--color);
    transition: width 0.5s cubic-bezier(0.375, -0.04, 0.135, 1.13);
}

.menu-custom:hover::before {
    width: 100%;
}

.current-menu-custom{
    position: relative;
    height: 100%;
    // width: 5em;
    // left: 5px;
    font-size: 2.0em;
    color: transparent;
    opacity: 1;
    -webkit-text-stroke: 0.02em var(--color);
    width: 100%;
}

.current-menu-custom:before {
    content: attr(data-text);
    position: absolute;
    height: 100%;
    color: rgba(204, 245, 255, 0.932);
    // border-right: 1px solid var(--color);
    padding-left: 10px;
    // padding-left: 50px;
    padding-left: 10px; /* 新增 */
    left: -10px; /* 修改 */
    width: 100%;
    // left: -10px;
    text-shadow: 0 0 0.1em var(--color);
    color: var(--color);
    overflow: hidden;
    -webkit-text-stroke: 0.005em var(--color);
    transition: width 0.3s cubic-bezier(0.375, -0.04, 0.135, 1.13);
}
/**/